.announcement {
  display: flex;
  border-radius: 8px;
  padding: 20px;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.announcement-date {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 10px;
  color: #637587;
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
}

.announcement-photo {
  width: 300px;
  height: 150px;
  border-radius: 18px;
  margin-left: 40px;
}

.announcement-title {
  font-weight: 700;
  font-family: "Newsreader", serif;
  font-size: 20px;
  margin-bottom: 10px;
  color: #212427;
}

.announcement-content {
  margin-bottom: 10px;
  font-family: "Newsreader", serif;
  font-size: 16px;
  font-weight: 400;
  color: #637587;
  width: 40%;
}

.read-more-button {
  background-color: transparent;
  color: #121417;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms;
  border: 1px solid #142658;
}

.read-more-button:hover {
  background-color: #142658;
  color: #f4f3f2;
}

@media screen and (max-width: 900px) {
  .announcement {
    flex-direction: column-reverse;
    align-items: center;
  }

  .announcement-content {
    width: 60%;
  }

  .announcement-photo {
    width: 240px;
    height: 120px;
  }

  .announcement-photo {
    margin-left: 0;
  }

  .announcement-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
