.announcement {
  display: flex;
  border-radius: 8px;
  padding: 20px;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.announcement-date {
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 10px;
  color: #637587;
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
}

.announcement-photo {
  width: 300px;
  height: 150px;
  border-radius: 18px;
  margin-left: 40px;
}

.announcement-title {
  font-weight: 700;
  font-family: "Newsreader", serif;
  font-size: 16px;
  margin-bottom: 10px;
  color: #121417;
}

.announcement-content {
  margin-bottom: 10px;
  font-family: "Newsreader", serif;
  font-size: 14px;
  font-weight: 400;
  color: #637587;
  width: 40%;
}

.read-more-button {
  background-color: #f0f2f5;
  color: #121417;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms;
}

.read-more-button:hover {
  filter: invert(1);
}

@media screen and (max-width: 900px) {
  .announcement-content {
    width: 60%;
  }

  .announcement-photo {
    width: 200px;
    height: 100px;
  }
}
