/* AnnouncementsContainer.css */

.announcements-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    background-image: url('Cukursaray.jpeg'); /* Replace 'your-image-path.jpg' with the actual path to your image */
  background-size: auto; /* Adjust the background size as needed */
  background-position: center center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  }
  
  .title-container {
    background-color: #d9d9d950;
    padding: 10px;
    border-radius:15px;
    color: #ffffff;
    width: 20%;
    text-align: center;
    
  }

  
  
  .space-between {
    height: 15px;
  }
  
  .list-container {
    background-color: #d9d9d950;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    width: 16.8%;
    text-align: center;
  }
  
  .announcement-list {
    margin-top: 15px;
    background-color: #d9d9d979;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none; /* Remove default underline for links */
    color: #000000; /* Adjust the color for the links */
    display: block;
    
    
  }
  
  .announcement-list:hover {
    background-color: rgba(169, 169, 169, 0.7); /* Adjust background color on hover */
  }
  
  /* Add any additional styling as needed */
  