.research-service{
    display: flex;
    justify-content: space-around;
}

.project-service{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width:768px){
    .research-service{
        flex-direction: column;
    }

    .project-service{
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
    }
}