.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input{
    display: none;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent ;
    transition: 300ms;
    border-radius: 100px;
    border: 1px solid var(--highligh_color);
}

.slider::before{
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--highligh_color);
    transition: 300ms ease-out;
    border-radius: 100px;
}

.switch input:checked + .slider::before{
    transform: translateX(26px);
    background-color: var(--highligh_color);
}

.switch input:checked + .slider{
    background-color: var(--highligh_color);
}

.toggle-container{
    margin: 0;
    align-items: center;
    display: flex;
    outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}