.research-card {
    border: 1px solid rgb(218, 215, 215);
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    border-width: 0.1em;
}

.research-card-title {
    font-family: "Newsreader", serif;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.research-card-description {
    margin-top: 0.5em;
}