.header-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: max-content;
  margin: 0 auto;
}

.image-frame {
  display: flex;
  justify-content: center;
  margin-top: 19px;
}

.image-frame img {
  width: 960px;
  height: 334px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-title {
  display: flex;
  font-size: 45px;
  font-weight: 700;
  justify-content: center;
  margin: 0;
  letter-spacing: 1px;
}


.header-school{
  display: flex;
  justify-content: center;
  margin: 0;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

.header-text{
  margin: 2em;
}