.Image_Frame {
  display: flex;
  justify-content: center;
  margin-top: 19px;
}

.Image_Frame img {
  width: 960px;
  height: 334px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
