.announcement-detail {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
    text-align: center;
  }

  .announcement-detail-description{
    margin: 30px 0;
  }
  
  .announcement-detail-date {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--body_secondary_color);
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
  }
  
  .announcement-detail-photo {
    width: 20%;
    height: 20%;
    border-radius: 18px;
    margin-bottom: 30px;
  }
  
  .announcement-detail-title {
    font-weight: 700;
    font-family: "Newsreader", serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--body_color);
  }
  
  .announcement-detail-content {
    margin-bottom: 10px;
    font-family: "Newsreader", serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--body_secondary_color);
    width: 40%;
  }
  
  .announcement-detail-subtitle{
    margin-bottom: 40px;
  }

  .announcement-detail-links li{
    list-style: none;
  }
  .announcement-detail-links ul{
    padding: 0;
  }
  
  @media screen and (max-width: 768px) {
    .announcement-detail {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
    }
  
    .announcement-detail-content {
      width: 75%;
      text-align: left;
    }
  
    .announcement-detail-photo {
      width: 45%;
      height: 45%;
    }
  
    .announcement-detail-photo {
      margin-left: 0;
    }
  
    .announcement-detail-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  