.announcement-detail {
  margin-top: 75px !important;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  text-align: center;
  background-color: var(--card_background);
  box-shadow: 0 4px 8px var(--card_shadow);
  border-radius: 8px;
}

.announcement-detail-photo {
  width: 100%;
  max-width: 600px; /* Kapak fotoğrafının maksimum genişliği */
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover; /* Görsel düzgün oranlarda gösterilir */
}

.announcement-detail-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--highlight_color);
  margin-bottom: 20px;
}

.announcement-detail-content {
  font-size: 16px;
  color: var(--body_color);
  line-height: 1.8;
  text-align: left; /* İçerik sola yaslanır */
}

.announcement-detail-content img {
  max-width: 400px; /* İçerik görsellerinin maksimum genişliği */
  max-height: 300px; /* İçerik görsellerinin maksimum yüksekliği */
  width: auto;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover; /* Görsel düzgün oranlarda küçültülür */
}

.announcement-detail-content a {
  color: var(--highlight_color);
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.announcement-detail-content a::before {
  content: "🔗"; /* Bağlantılar için görsel ikon */
  margin-right: 8px;
}

.announcement-detail-content a:hover {
  text-decoration: underline; /* Hover efektinde alt çizgi eklenir */
}

.announcement-detail-content p {
  margin: 10px 0;
  line-height: 1.6;
}

.announcement-detail-content strong {
  font-weight: bold;
  color: var(--highlight_color);
}

.announcement-detail-content u {
  text-decoration: underline;
}

@media only screen and (max-width: 768px){
  .announcement-detail{
    width: 75%;
  }
}