.mainpage-cover {
  background-image: url("../../../public/images/ytu_dp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.mainpage-title {
  display: flex;
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  align-items: center;
  margin: auto;
}
