.page-cover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.btn-cover {
  width: 100%;
  gap: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: "Newsreader";
  font-weight: 500;
  background-color: transparent;
  border-bottom: transparent 2px solid;
  transition: 300ms;
  color: var(--body_color);
}

.btn:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--highlight_color);
}

.btn.selected {
  cursor: pointer;
  transition: 300ms;
  border-bottom: 2px solid var(--highlight_color);
}

@media only screen and (max-width: 768px) {
  .btn-cover {
      margin-top: 30px;
  }
}
