.page-cover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: max-content;
  margin: 0 auto;
}

.btn-cover {
  gap: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn{
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: "Newsreader";
    font-weight: 500;
    background-color: transparent;
    border-bottom: transparent 2px solid;
    transition: 300ms;
}

.btn:hover{
  cursor: pointer;
  border-bottom: 2px solid #142658;
}


.btn.selected{
    cursor: pointer;
    transition: 300ms;
    border-bottom: 2px solid #142658;
}

@media only screen and (max-width: 768px){
  .btn-cover{
    margin: 30px 30px;
  }
}