.bar {
  background-color: transparent;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1em;
  border-bottom: 0.1px solid #e5e8eb;
  height: 65px;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  padding-left: 1.5em;
}

.mtmPadding {
  padding-left: 1.5em;
}

.drawerItem {
  align-items: center;
  padding: 1em;
  padding-top: 2em;
}

.text {
  padding: 1em;
  font-family: "Newsreader", serif;
  font-size: 18px;
  font-weight: 500;
  will-change: filter;
  transition: 300ms;
  cursor: pointer;
  background-color: white;
  border-radius: 15px;
  margin: 0 1px 0 1px;
}

.textBold {
  padding: 1em;
  font-family: "Newsreader", serif;
  font-size: 18px;
  will-change: filter;
  transition: filter 300ms;
  font-weight: 700;
  cursor: default;
}

.text:hover {
  filter: invert(1);
  /* siyah gözükmesi için */
  cursor: pointer;
  padding-right: 1.5em;
}
