.bar {
  background-color: transparent;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e5e8eb;
  height: 65px;
}

.socialIcons {
  display: flex;
  flex-direction: row;
}

.drawerItem {
  position: relative;
  align-items: center;
  padding: 1em;
  margin: auto;
}

.text {
  padding: 1em;
  font-family: "Newsreader", serif;
  font-size: 18px;
  font-weight: 500;
  will-change: filter;
  transition: 300ms;
  cursor: pointer;
  margin: 0 1px 0 1px;
  border-bottom: 2px solid transparent;
  transition: 300ms;
}

.textBold {
  padding: 1em;
  font-family: "Newsreader", serif;
  font-size: 18px;
  will-change: filter;
  transition: filter 300ms;
  font-weight: 700;
  cursor: default;
}

.text:hover {
  cursor: pointer;
  border-bottom: 2px solid #142658;
}

.ytu-logo-divider {
  display: flex;
  margin: auto;
  align-items: center;
  position: relative;
  margin-left: 1em;
  margin-right: auto;
}

.ytu-logo {
  height: 50px;
  width: auto;
}
