.research-service-all{
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* Her satırda üç öğe */
  gap: 150px; /* Öğeler arası boşluk */
}


@media only screen and (max-width:768px){
    .research-service-all{
        flex-direction: column;
    }

}