/* lectureSegment.css */
.lecture-wrapper h2{
  text-align: center;
  font-size: 10px;
}
/* Tablo genel görünümü */
.lecture-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  color: var(--body_color);
  border-radius: 10px;
}

.lecture-table thead{
  border-radius: 10px;
}

.lecture-table tbody{
  border-radius: 10px;
}

/* Başlık satırı */
.lecture-table thead th {
  background-color: var(--body_background);
  border: 1px solid var(--highlight_color);
  padding: 8px;
  text-align: left;
  border-radius: 10px;
}

/* Veri satırları */
.lecture-table tbody td {
  border: 1px solid var(--highlight_color);
  padding: 8px;
  border-radius: 10px;
}

