/* lectureSegment.css */
.lecture-wrapper h2{
  text-align: center;
  font-size: 14px;
}
/* Tablo genel görünümü */
.lecture-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  color: var(--body_color);
  border-radius: 10px;
}

.lecture-table thead{
  box-shadow: 0 0 0 1px var(--highlight_color);
  border-radius: 10px;
}

.lecture-table tbody{
  box-shadow: 0 0 0 1px var(--highlight_color);
  border-radius: 10px;
}

/* Başlık satırı */
.lecture-table thead th {
  background-color: var(--body_background);
  
  padding: 8px;
  text-align: left;
  border-radius: 10px;
}

/* Veri satırları */
.lecture-table tbody td {
  
  padding: 8px;
  border-radius: 10px;
}

@media only screen and (max-width: 768px){
  .lecture-wrapper{
    font-size: 11px;
  }
}