.project-container-all {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 15em;
    height: 30em;
    display: grid;
    grid-template-columns: 1fr; /* Tüm öğeleri tek bir sütun içinde göster */
    gap: 20px; /* Öğeler arası boşluk */
    align-items: center;
    margin: 1em;
    cursor: pointer;
}


.project-container-title {
    padding: 0.5em;
    font-family: "Newsreader", serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--body_color);
}

.project-container-image {
    overflow: hidden;
    width: 15em;
    height: 30em;
}

.project-container-imageurl {
    height: 100%;
}

.project-container-subtitle {
    padding: 0.5em;
    font-family: "Newsreader", serif;
    font-size: 14px;
    color: var(--body_secondary_color);
}

.project-service-all{
    display: flex;
    justify-content: space-between;
}

.all-projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:768px) {
    .project-container-all{
        justify-content: center;
    }
}