.center-project{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.project-service-all{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Her satırda üç öğe */
    gap: 20px; /* Öğeler arası boşluk */
}

