.page-title {
  padding: 0.5em;
  font-family: "Newsreader", serif;
  font-size: 30px;
  font-weight: 500;
}

.page-padding {
  padding-right: 12em;
  padding-left: 12em;
  padding-top: 2em;
}

.seeMoreButton {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}