.button {
  background-color: transparent;
  color: #121417;
  padding: 13px 26px;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms;
  border: 1px solid #142658;
  max-width: max-content;
}

.button:hover {
  background-color: #142658;
  color: #f4f3f2;
}
